<div>
    <%= image_tag("http://healthcare-20161119.s3-website-ap-northeast-1.amazonaws.com/sasara_dai/sasara_normal.png", :id => "sasara_image") %>
    <div id="message_box">
        あああああああああああああいいいいいいいいいいいいい
    </div>
</div>
