<div id="content">
    <%= image_tag("http://healthcare-20161119.s3-website-ap-northeast-1.amazonaws.com/sasara_dai/sasara_normal.png", :id => "sasara_image") %>
    <div id="message_box">
        私の名前はささら。あなたのなまえはなんだね？
    </div>

    <div id="name_input" class="row-fluid center-block">
        <div class="col-xs-9"><input type="text" class="form-control"></div>
        <div class="col-xs-3"><button id="name_input_button" type="button" class="btn btn-default">決定</button></div>
    </div>


    <div id="man_woman_button" class="row-fluid center-block">
        <div id="man_button" class="col-xs-6 btn btn-primary man">男性</div>
        <div id="woman_button" class="col-xs-6 btn btn-danger woman">女性</div>
    </div>

    <div id="age_input" class="row-fluid center-block">
        <div class="col-xs-9"><input type="text" class="form-control"></div>
        <div class="col-xs-3"><button id="age_input_button" type="button" class="btn btn-default">決定</button></div>
    </div>

    <div id="oshiete_area" class="row-fluid center-block">
        <div><button id="oshiete_button" type="button" class="btn btn-info">教えて！</button></div>
    </div>

    <div id="condition_button_area" class="row-fluid center-block">
        <div id="good_button" class="col-xs-12 btn btn-primary condition_button">絶好調</div>
        <div id="normal_button" class="col-xs-12 btn btn-primary condition_button">いつもどおり</div>
        <div id="bad_button" class="col-xs-12 btn btn-primary condition_button">しょんぼり気味</div>
    </div>

    <div id="tabeta_button_area" class="row-fluid center-block">
        <div id="yes_houkoku_button" class="col-xs-12 btn btn-primary condition_button">おすすめを食べた。</div>
        <div id="no_houkoku_button" class="col-xs-12 btn btn-primary condition_button">食べなかった…</div>
    </div>

</div>
