// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
  width: 100%;
  text-align: center;
}

#sasara_image {
  z-index: 0;
  width: 100%;
}
#message_box {
  position: relative;
  text-align: left;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255,0,0,0.3);
  top: -20px;
  min-height: 50px;
  margin: auto;
}
