// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
  width: 100%;
  background-image: url("http://healthcare-20161119.s3-website-ap-northeast-1.amazonaws.com/sasara_dai/room.png");
}

#sasara_image {
  z-index: 0;
  width: 100%;
}
#message_box {
  position: relative;
  text-align: left;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255,0,0,0.3);
  top: -100px;
  min-height: 80px;
  margin: auto;
  font-size: 1.4em;
}

#man_woman_button {
  display: none;
  position: relative;
  top: -300px;
  width: 100%;

}

#name_input, #age_input {
  display: none;
  position: relative;
  top: -250px;
  width: 100%;
  background-color: rgba(151, 179, 255, 0.3);
  min-height: 50px;
  padding-top: 10px;
}

#oshiete_area {
  z-index: 5;
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

#condition_button_area, #tabeta_button_area {
  display: none;
  position: relative;
  top: -360px;
  width: 100%;
  min-height: 50px;
  padding-top: 10px;
}

.condition_button {
  margin: 10px;
  width: 95%;
}